body {
    margin: 0;
    padding: 0;
}

.top-bar {}

.col-sm {
    background-color: darkgrey;
}

.navbar-nav .nav-link {
    margin-right: 2rem;
}

.hannah {
    width: 80%;
}

.banana {
    text-align: center;
    font-size: large;
    border-bottom: 1px;
    background-color: darkgrey;
}

.navbar-brand {
    margin-right: 10rem;
}

.second-header {
    text-align: center;
}

.first-text {
    text-align: center;
}

.hannahb {
    width: -webkit-fill-available;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.middle-text {
    margin-bottom: revert;
    text-align: center;

}

.button {
    text-align: -webkit-center;
}

h2 {
    text-decoration: underline;
    text-align: center;
    background-color: darkgrey;
    margin: 0;
    margin-top: 1rem;
}

.first-heading {
    background-color: darkgrey;
}

.first-cont {
    background-color: darkgrey;
    padding-top: 2rem;
}